<div class="row my-4">
    <div class="col post-item">
        <div class="custom-card">
            <div class="bg-dark text-light p-2 d-flex justify-content-between">
                <h3>{{title}}</h3>
                {{!-- mark as edited if updated --}}
                {{#if date_updated}}
                <div>
                    <em class="lead text-secondary fs-6 me-1">edited</em>
                    <em class="my-auto">{{format_date date_updated}}</em>
                </div>
                {{else}}
                <em class="my-auto">{{format_date date_created}}</em>
                {{/if}}
            </div>
            <div class="px-2 pt-2 my-1 d-flex justify-content-between">
                <div>
                    <h5 class="lead">{{description}}</h5>
                    <p class="blockquote-footer custom-at mt-1">@{{user.name}}</p>
                </div>
                <div>
                    <button class="btn btn-secondary btn-edit me-2 mt-2" data-id="{{id}}" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Edit</button>
                    <button class="btn btn-danger btn-delete me-2 mt-2" data-id="{{id}}">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- display comments --}}
{{#each comments}}
<div class="row my-4">
    <div class="col-6">
        <div class="custom-card">
            <div class="mb-1 p-2 d-flex justify-content-between">
                <h5 class="lead">{{description}}</h5>
                <em><small class="text-secondary">{{format_date date_added}}</small></em>
            </div>
            <div class="px-2 d-flex justify-content-between">
                <p class="blockquote-footer custom-at"> @{{user.name}}</p>
                <button class="btn btn-danger btn-delete-comment me-2 mb-2" data-id="{{id}}">Delete</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Blog Post</h5>
            </div>
            <div class="modal-body">

                <form class="mt-3">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title"
                            value="{{title}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="6"
                            placeholder="Enter description" required>{{description}}</textarea>
                    </div>
                </form>

            </div>
            <div class="mb-3 mx-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="custom-button btn btn-update" id="post">Update</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/edit.js"></script>